<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand">Navbar</a>
  <button class="btn btn-outline-info my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalCenter">Login
  </button>
</nav>

<nov-login></nov-login>